<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 引入Vue -->
    <script type="text/javascript" src="../../vue/vue.js"></script>
    <title>初识vue</title>
</head>
<body>
    <!-- 准备一个容器 -->
    <div id="root">
        姓：<input type="text" v-model="firstName"><br><br>
        名：<input type="text" v-model="lastName"><br><br>
        全名：<span>{{fullName()}}</span>
        <!-- <button @click="">点我</button> -->
    </div>
    <script type="text/javascript">
        Vue.config.productionTip = false // 阻止vue 在启动时生成生产提示

        // 创建vue实例
        const vm = new Vue({
            el:"#root",
            data:{
                // data中用于存储数据，数据供所指定的容器是去使用，值我们暂时先写成一个对象
                firstName:'杨',
                lastName:'大米'

            },
            methods:{
                fullName(){
                    return this.firstName + " " + this.lastName
                }
            }
        })
        

    </script>

</body>
</html>